@tailwind base;
@tailwind components;
@tailwind utilities;

.infobox-hint {
  border: 1px solid #96f5f7;
  color: #96f5f7;
}

.infobox-warning.warning--low {
  border: 1px solid #f6d84f;
  color: #f6d84f;
}

.infobox-warning.warning--medium {
  border: 1px solid #f9a73b;
  color: #f9a73b;
}

.infobox-warning.warning--high {
  border: 1px solid #f97373;
  color: #f97373;
}
